<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifetime Stats</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="/searchbar.js"></script>
    <script defer src="/legends.js"></script>
</head>

<body class="lifetime-stat-page">
    <div class="container">
        <header>
            <section class="logo">
                <a href="/"><img src="/images/LOGO.png" alt=""></a>
            </section>
            <section class="header-search-items">

                <input type="button" class="platform" id="xbl" name="xbl">
                <input type="button" class="platform" id="psn" name="psn">
                <input type="button" class="platform" id="pc" name="origin">

                <input type="search" id="searchBar" placeholder="Pick a platform and enter a username">

            </section>
        </header>

        <main class="lifetime-stat-main">
            <h1 id="username">
                <%= api.data.platformInfo.platformUserId %>
            </h1>
            <h2 id="level-main">
                <% let lvl=api.data.segments[0].stats.level.value %>
                    <% if (lvl> 500) {lvl = 500} %>
                        Level: <%= lvl %>
            </h2>
            <h4 id="actual">
                Actual: <%= api.data.segments[0].stats.level.displayValue %>
            </h4>

            <section class="fav-legend">
                <h2 id="currentLgndTitle">Current Legend</h2>

                <% const currentLgnd=api.data.segments[1].metadata.name %>
                    <% const currentLgndImg=api.data.segments[1].metadata.imageUrl %>
                        <img src="<%= currentLgndImg %>" alt="">

                        <h3 id="lgndName">
                            <%= currentLgnd %>
                        </h3>

                        <h3 id="rankBRtitle">BR Rank</h3>

                        <% const brRankImg=api.data.segments[0].stats.rankScore.metadata.iconUrl %>
                            <% const brRankName=api.data.segments[0].stats.rankScore.metadata.rankName %>
                                <% const brRP=api.data.segments[0].stats.rankScore.displayValue %>
                                    <img src="<%= brRankImg %>" alt="" id="rankBRimage">

                                    <h4 id="brRankName">
                                        <%= brRankName %>
                                    </h4>
                                    <h4 id="brRP">
                                        RP: <%= brRP %>
                                    </h4>

                                    <h3 id="arenaRankTitle">Arena Rank</h3>

                                    <% const arenaRankImg=api.data.segments[0].stats.arenaRankScore.metadata.iconUrl %>
                                        <% const
                                            arenaRankName=api.data.segments[0].stats.arenaRankScore.metadata.rankName %>
                                            <% const arenaRP=api.data.segments[0].stats.arenaRankScore.displayValue %>
                                                <img src="<%= arenaRankImg %>" alt="" id="arenaRankImage">

                                                <h4 id="arenaRankName">
                                                    <%= arenaRankName %>
                                                </h4>
                                                <h4 id="arenaRP">
                                                    AP: <%= arenaRP %>
                                                </h4>
            </section>

            <h2 id="lifetime-stat-title">Lifetime Stats</h2>
            <h4 id="matches-played-title">
                <% try { const matchesPlayed=api.data.segments[0].stats.matchesPlayed.displayValue %>
                    Matches Played: <%= matchesPlayed %>
                        <% } catch(err) { %>
                            Matches Played: --
                            <% } %>
            </h4>
            <section class="main-stats">
                <div id="wins">
                    <h4>Full Squad Wins</h4>
                    <p>
                        <% try { const wwfs=api.data.segments[0].stats.winsWithFullSquad.displayValue %>
                            <%= wwfs %>
                                <% } catch(err) { %>
                                    --
                                    <% } %>
                    </p>
                </div>
                <div id="kills">
                    <h4>Kills</h4>
                    <p>
                        <%= api.data.segments[0].stats.kills.displayValue %>
                    </p>
                </div>
                <div id="kakl">
                    <h4>Kills as Kill Leader</h4>
                    <p>
                        <% try { const kakl=api.data.segments[0].stats.killsAsKillLeader.displayValue %>
                            <%= kakl %>
                                <% } catch(err) { %>
                                    --
                                    <% } %>
                    </p>
                </div>
                <div id="damage">
                    <h4>Damage</h4>
                    <p>
                        <% try { const damage=api.data.segments[0].stats.damage.displayValue %>
                            <%= damage %>
                                <% } catch(err) { %>
                                    --
                                    <% } %>
                    </p>
                </div>
                <div id="tptt">
                    <h4>Times Placed Top 3</h4>
                    <p>
                        <% try { const tptt=api.data.segments[0].stats.timesPlacedtop3.displayValue %>
                            <%= tptt %>
                                <% } catch(err) { %>
                                    --
                                    <% } %>
                    </p>
                </div>
                <div id="kills-per-match">
                    <h4>Kills Per Match</h4>
                    <p>
                        <% try { const kpm=api.data.segments[0].stats.killsPerMatch.displayValue %>
                            <%= kpm %>
                                <% } catch(err) { %>
                                    --
                                    <% } %>
                    </p>
                </div>
                <div id="winning-kills">
                    <h4>Winning Kills</h4>
                    <p>
                        <% try { const winnningKills=api.data.segments[0].stats.winningKills.displayValue %>
                            <%= winningKills %>
                                <% } catch(err) { %>
                                    --
                                    <% } %>
                    </p>
                </div>
                <div id="headshots">
                    <h4>Headshots</h4>
                    <p>
                        <% try { const headshots=api.data.segments[0].stats.headshots.displayValue %>
                            <%= headshots %>
                                <% } catch(err) { %>
                                    --
                                    <% } %>
                    </p>
                </div>
            </section>
            <h2>Recent Matches</h2>
            <section class="match-history">
                <% const items=sessions.data.items%>
                    <% let limit=10 %>
                        <% if (items !=0) { %>
                            <% for (let i of items) { %>
                                <% const matches=i.matches %>
                                    <% for (m of matches) { %>
                                        <div>
                                            <!-- LEGEND ICON -->
                                            <% try { const legendPortrait=m.metadata.legendPortraitImageUrl.displayValue
                                                %>
                                                <img src="<%= legendPortrait %>" alt="">
                                                <% } catch(err) { %>
                                                    --
                                                    <% } %>
                                                        <!-- LEGEND -->
                                                        <% try { const legendUsed=m.metadata.legend.displayValue %>
                                                            <p id="legendUsed">LEGEND:
                                                                <%= legendUsed %>
                                                            </p>
                                                            <% } catch(err) { %>
                                                                <p id="legendUsed">LEGEND: --
                                                                </p>
                                                                <% } %>
                                                                    <!-- KILLS -->
                                                                    <% try { const
                                                                        killsPerGame=m.stats.kills.displayValue %>
                                                                        <p id="killsPerGame">KILLS:
                                                                            <%= killsPerGame %>
                                                                        </p>
                                                                        <% } catch(err) { %>
                                                                            <p id="killsPerGame">KILLS: --
                                                                            </p>
                                                                            <% } %>
                                                                                <!-- DAMAGE -->
                                                                                <% try { const
                                                                                    matchDamage=m.stats.damage.displayValue
                                                                                    %>
                                                                                    <p id="matchDamage">DAMAGE: <%=
                                                                                            matchDamage %>
                                                                                    </p>
                                                                                    <% } catch(err) { %>
                                                                                        <p id="matchDamage">DAMAGE: --
                                                                                        </p>
                                                                                        <% } %>
                                                                                            <!-- RANK SCORE CHANGE -->
                                                                                            <% try { const
                                                                                                rankChange=m.stats.rankScoreChange.displayValue
                                                                                                %>
                                                                                                <p id="rankChange">RANK
                                                                                                    CHANGE:
                                                                                                    <%= rankChange %>
                                                                                                </p>
                                                                                                <% } catch(err) { %>
                                                                                                    <p id="rankChange">
                                                                                                        RANK CHANGE: --
                                                                                                    </p>
                                                                                                    <% } %>
                                                                                                        <!-- RANK SCORE -->
                                                                                                        <% try { const
                                                                                                            rankScore=m.stats.rankScore.displayValue
                                                                                                            %>
                                                                                                            <p
                                                                                                                id="rankScore">
                                                                                                                RANK
                                                                                                                SCORE:
                                                                                                                <%= rankScore
                                                                                                                    %>
                                                                                                            </p>
                                                                                                            <% } catch(err)
                                                                                                                { %>
                                                                                                                <p
                                                                                                                    id="rankScore">
                                                                                                                    RANK
                                                                                                                    SCORE:
                                                                                                                    --
                                                                                                                </p>
                                                                                                                <% } %>

                                        </div>

                                        <% limit-- %>
                                            <% if (limit==0) {break} %>
                                                <% } %>
                                                    <% if (limit==0) {break} %>
                                                        <% }} else { %>
                                                            <div>
                                                                No matches to show.
                                                            </div>
                                                            <% } %>

            </section>
        </main>

        <footer class="lifetime-stat-footer">
            <a href="/overview" id="link1">Project Overview</a>
            <a href="/references" id="link2">References</a>
        </footer>
    </div>
</body>

</html>